:root{
    --accent-color:#4D5AE5;
    --main-text-color: #434455;
    --dark-theme-text-color: #FFFFFF;
    --dark-theme-color: #2E2F42;
    --active-order-btn-color:#404BBF;
    --footer-text-color:#E7E9FC;
    --light-grey:#F4F4FD;
}

/* ==============normalize============== */

body{
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

/* ==============components============== */

.order-servise-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: var(--dark-theme-text-color);

    background: var(--accent-color);

}

.order-servise-btn:focus,
.order-servise-btn:hover{
    background: var(--active-order-btn-color);
}

.filter-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background: var(--light-grey);

    color: var(--accent-color);
    cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus{
    background: var(--active-order-btn-color);
    color: var(--dark-theme-text-color);
}
/* ==============header============== */

.logotype{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--dark-theme-color);
}
.logo-web{
    color: var(--accent-color);
}
.menu-link{
    font-weight: 500;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
}
.contact-info{
    font-style: normal;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
}
.contact-info:hover,
.contact-info:focus,
.menu-link:focus,
.menu-link:hover{
    color: var(--accent-color);
}

/* ==============hero-section============== */

.hero-section{
    background: var(--dark-theme-color);
}

.main-header-text{

    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

    color: var(--dark-theme-text-color);
}

/* ==============features-section============== */

.feature-list-name{
    font-weight: 500;

    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--dark-theme-color);

}
.feature-list-desc{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
}

/* ==============product-section============== */

.our-product-header{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    color: var(--dark-theme-color);
}

/* ==============team-section============== */

.our-team-head{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    color: var(--dark-theme-color);
}
.teammate-name{
    font-weight: 500;

    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--dark-theme-color);
}
.teammate-trade{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
}
/* ==============footer-section============== */
.footer-section{
    background: var(--dark-theme-color);
}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--footer-text-color);
}
.footer-section .logotype{
    color: var(--light-grey);
}
/* ==============portfolio============== */
.portfolio-block-name{
    font-weight: 500;

    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--dark-theme-color);
}
.portfolio-group{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color:var(--main-text-color);
}